body {
  background-color: lightblue;
}

h1 {
  color: #db6391;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.Header {
  border: 10px outset red;
  background-color: lightblue;
  text-align: center;
  padding: 60px;
}

.DivOne {
  border: 10px outset red;
  background-color: lightblue;
  text-align: center;
}

.AboutMe {
  border: 10px outset red;
  background-color: lightblue;
  text-align: center;
  width: 500px;
  animation-name: MoveLeft;
}

@keyframes MoveLeft {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

