body {
  background-color: lightblue;
}

h1 {
  color: #db6391;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.Header {
  height: 300px;
  border: 2px outset rgb(77, 134, 255);
  background-color: lightblue;
  text-align: center;

}

.DivOne {
  height: 300px;
  border: 2px outset rgb(77, 134, 255);
  background-color: lightblue;
  text-align: center;

}

.AboutMe {
  height: 300px;
  border: 2px outset rgb(77, 134, 255);
  background-color: lightblue;
  text-align: center;
  position: relative;
  animation-name: MoveLeft;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

}

@keyframes MoveLeft {
  0%   {left:2000px; top:30px;}
  100% {left:0px; top:30px;}
}

