body {
  background-color: lightblue;
}

h1 {
  color: #db6391;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.Header {
  padding: 50px;
  border: 10px outset red;
  background-color: lightblue;
  text-align: center;
  padding: 60px;
}

.DivOne {
  padding: 50px;
  border: 10px outset red;
  background-color: lightblue;
  text-align: center;
}

.AboutMe {
  padding: 50px;
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  position: relative;
  animation-name: MoveLeft;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

@keyframes MoveLeft {
  0%   {left:2000px; top:0px;}
  100% {left:0px; top:0px;}
}

